<<<<<<< HEAD
.comment-list{
  color: blue;
}

.comment-box{
  color: black

}

.comment-count{
  color: blue;
}

.comment-form{
  color:black;
}


.welcomelogo{

  height: 35vmax;
  width: auto;
  background-color: whitesmoke;
  border: solid black 1px;
  border-radius: 10px 10px;

}

.welcome{
  justify-self: center;
  align-self: center;
  height: 100vmax;
  width: 100vmax;
}

.welcome, h1{
  color:#69E9F5;
}

.welcome, h2{
  color: #413670;
}

.App{

  display: flex;
  align-content: flex-end;
  justify-content: center;  
  text-align: center;
  width: auto;
  margin: 0; 

}
.App button{

  height: 7vmax; 
  width: 35vmax; 
  font-family: cursive;
  font-size: 4vmax;  
  border: #282c34 solid;  
  border-radius: 15px;
  background-color:#69E9F5;
  color: #413670;
  text-shadow: 2px 2px white;

}

.login .loginInfo{

  margin-top: 40%;

}

.welcome .welcome-info{
  margin-top: 40%;
}

.signup{
  margin-top: 40%;
}

.ResetPassword .ForgotPassword-info{
  margin-top: 40%;
}
=======
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

>>>>>>> 3bbb4d4b3bcbbb062fa08bc23180049a137e5e9d
