.comment-list{
  color: blue;
}

.comment-box{
  color: black
}

.comment-count{
  color: blue;
}

.comment-form{
  color:black;
}

.welcomelogo{

  height: 13vmax;
  width: auto;
  background-color: whitesmoke;
  border: solid #282c34 3px;
  border-radius: 10px 10px;

}

.welcome{
  justify-self: center;
  align-self: center;
  height: 100vmax;
  width: 100vmax;
}